<% provide(:title, 'Gcodes') %>
<h1>Gcodes</h1>
<h2>Therapy Functional Reporting Gcodes - Short Descriptors</h2>
<hr>
<table id="wrap">
  <tr>
    <td>
      <h3>Mobility: Walking & Moving Around</h3>
      G8978 Mobility current status <br>
      G8979 Mobility goal status <br>
      G8980 Mobility D/C status <br>
      
      <h3>Changing & Maintaining Body Position</h3> 
      G8981 Body pos current status <br>
      G8982 Body pos goal status <br>
      G8983 Body pos D/C status <br>
      
      <h3>Carrying, Moving and Handling Objects</h3>
      G8984 Carry current status <br>
      G8985 Carry goal status <br>
      G8986 Carry D/C status <br>
      
      <h3>Self-Care</h3>
      G8987 Self-care current status <br>
      G8988 Self-care goal status <br>
      G8989 Self-care D/C status <br>
      
      <h3>Other PT/OT Primary</h3>
      G8990 Other PT/OT current status <br>
      G8991 Other PT/OT goal status <br>
      G8992 Other PT/OT  D/C status <br>

      <h3>Other PT/OT Subsequent</h3>
      G8993 Sub PT/OT current status <br>
      G8994 Sub PT/OT goal status <br>
      G8995 Sub PT/OT D/C status <br>
      
      <h3>Swallowing</h3>
      G8996 Swallow current status <br>
      G8997 Swallow goal status <br>
      G8998 Swallow D/C status <br>
    </td>

    <td>
      <h3>Motor Speech</h3>
      G8999 Motor speech current status <br>
      G9186 Motor speech goal status <br>
      G9158 Motor speech D/C status <br>


      <h3>Spoken Language Comprehension</h3>
      G9159 Lang comp current status <br>
      G9160 Lang comp goal status <br>
      G9161 Lang comp D/C status <br>

      <h3>Spoken Language Expression</h3>
      G9162 Lang express current status <br>
      G9163 Lang express goal status <br>
      G9164 Lang express D/C status <br>
      
      <h3>Attention</h3>
      G9165 Atten current status <br>
      G9166 Atten goal status <br>
      G9167 Atten D/C status <br>

      <h3>Memory</h3>
      G9168 Memory current status <br>
      G9169 Memory goal status <br>
      G9170 Memory D/C status <br>

      <h3>Voice</h3>
      G9171 Voice current status <br>
      G9172 Voice goal status <br>
      G9173 Voice D/C status <br>

      <h3>Other SLP</h3> 
      G9174 Speech lang current status <br>
      G9175 Speech lang goal status <br>
      G9176 Speech lang D/C status <br>
    </td>
  </tr>
</table>
