<% provide(:title, 'Home') %>
<h1>Medicare BS</h1>
<p>
  This is the homepage for <a href="http://intense-tor-4235.herokuapp.com//">Medicare BS</a>.
  A project to make PT/OT/SLP Tests magically turn into G Codes and Modifiers.
  This
  is the first application for this project.
</p>