<% provide(:title, 'Gtests') %>

<div class = "center">
	<h1>Gtests</h1>	
	<br>


	</br>
  	<h3>Please select wish test you'd like to use:</h3>

<body>

<form action>
<select name="Tests">
<option value="tinetti">Tinetti</option>
<option value="Modified Barthel">Modified Barthel</option>
<option value="Berg">Berg</option>
<option value="ACL Assistance">ACL Assistance</option>
<option value="SLUMS">SLUMS</option>
<option value="MASA">MASA</option>
</select>
</form>

</body>
